@{
    ViewData["Title"] = "Calculator";
}
@{
    MyFirstWebApp.Controllers.CalculatorController cctrl = new MyFirstWebApp.Controllers.CalculatorController();
    
    ViewData["add"] = cctrl.Add(7, 8);
    ViewData["sub"] = cctrl.Subtract(77, 8);
    ViewData["mult"] = cctrl.Multiply(98, 84);
    ViewData["div"] = cctrl.Divide(567, 87);
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <br />
    <h2>Addition = @ViewData["add"]</h2>
    <h2>Subtraction = @ViewData["sub"]</h2>
    <h2>Multiplication = @ViewData["mult"]</h2>
    <h2>Division = @ViewData["div"]</h2>
</div>
